/* ==================== 전체 레이아웃 ==================== */
main {
  width: 900px;
  color: var(--black-3);
}

main h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
  font-weight: 700;
  font-size: 2rem;
}

main .sc-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
}

.sc-container section {
  width: 100%;
  margin-right: 0;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #33333330;
}

.sc-container section h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.sc-container section h3.underline {
  border-bottom: 1px solid #33333330;
  margin-bottom: 20px;
}

.sc-container aside {
  text-align: center;
}

.sc-container aside a {
  display: block;
  width: 150px;
  text-align: left;
  color: var(--black-3);
}

.sc-container aside a:hover {
  text-decoration: underline;
  color: var(--black-2);
}

.sc-container aside li:not(:last-child) a {
  margin-bottom: 10px;
}

/* ==================== 가이드, 질문 ==================== */
.sc-container section p {
  display: none;
  text-align: justify;
  word-break: break-all;
}

.sc-container section input[type="radio"] {
  display: none;
}

.sc-container section input[type="radio"]+label {
  display: block;
  background-color: var(--white-f);
  padding: 10px;
  border-bottom: 1px solid #333333;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
}

.sc-container section input[type="radio"]+label::before {
  content: '\f0a9';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin-right: 10px;
}

.sc-container section input[type="radio"]+label::after {
  content: '\f107';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.sc-container section input[type="radio"]:checked+label::after {
  content: '\f106';
}

.sc-container section input[type="radio"]+label:nth-of-type(1) {
  border-top: 1px solid #333333;
}

.sc-container section input[type="radio"]:checked+label+p {
  display: block;
  padding: 20px;
  background-color: var(--white-f9);
  border-bottom: 1px solid #333333;
}

/* ==================== 1:1 문의 ==================== */
.sc-container form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sc-container form input[type="text"],
.sc-container form input[type="email"] {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--white-f9);
  color: #333333;
  margin-bottom: 10px;
  align-self: stretch;
}

.sc-container form input[type="text"]:focus,
.sc-container form input[type="email"]:focus,
.sc-container form select:focus,
.sc-container form textarea:focus {
  border-bottom: 2px solid var(--c-point-h);
  outline: none;
}

.sc-container form select {
  all: unset;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  appearance: auto;
  background-color: var(--white-f9);
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 10px;
}

.sc-container form textarea {
  all: unset;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: var(--white-f9);
  color: #333333;
}

.sc-container form .file-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sc-container form .file-upload input {
  flex: 3;
  margin-bottom: 0;
}

.sc-container form .file-upload label {
  all: unset;
  margin-left: 10px;
  background-color: var(--c-point);
  color: var(--black-3);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  flex: 1;
}

.sc-container form button {
  all: unset;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  background-color: var(--c-point);
  color: var(--black-3);
  cursor: pointer;
}

.sc-container form button:hover,
.sc-container form .file-upload label:hover {
  background-color: var(--c-point-h);
  color: var(--white-f);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* lsj 추가 _ 문의 내용에 대한 추가 사항 */
.sc-container>section p strong {
  font-weight: bold;
}

.sc-container>section>p:first-of-type>strong:nth-of-type(2),
.sc-container>section>p:nth-of-type(2)>strong:nth-of-type(2),
.sc-container>section>p:nth-of-type(3)>strong:nth-of-type(2),
.sc-container>section>p:nth-of-type(4)>strong:nth-of-type(2) {
  color: red;
}

.sc-container>section>p:first-of-type>strong:nth-of-type(1),
.sc-container>section>p:nth-of-type(2)>strong:nth-of-type(1),
.sc-container>section>p:nth-of-type(3)>strong:nth-of-type(1),
.sc-container>section>p:nth-of-type(4)>strong:nth-of-type(1) {
  color: blue;
}


/* ==================== 찾아오는 길 ==================== */

div.visit-map  {
  display: block;
  width: 700px;
  height: 450px;
  /* box-sizing: border-box; */
  border: 5px solid var(--c-point);
  margin-bottom: 50px;
}

div.visit-info p {
  display: block;
  font-size: 1.2rem;
}

div.visit-info p:not(:last-of-type) {
  margin-bottom: 10px;
}

div.visit-info p span {
  display: block;
  width: 80px;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 5px;
  background-color: var(--c-point);
  color: var(--black-3);
}